.progress-bar {
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: #ddd;
    overflow: hidden;
  }
  
  .progress-bar > .progress-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 10px;
    background-color: #FD6E0A;
    transition: width 0.5s ease-in-out;
  }